<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>

<div>
  <h3><%= @book.title %></h3>
  
  <% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  
  <%= image_tag @user.get_profile_image(80,80) %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
  <p><%= book.user.name %></p>
</div>
</div>