<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<h1>下記は仮</h1>

<% if user_signed_in? %>
  <li>
    <%= link_to '投稿フォーム', books_path %>
  </li>
  <li>
  <%= link_to 'マイページ', user_path(current_user.id) %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "ログイン", new_user_session_path %>
  </li>
<% end %>
